@charset "UTF-8";

p{
    text-align: left;
    font-size: 13px;
}

b{
    text-align: left;
    font-size: 10px;
}
h6{
 color:#ccc;
 margin: 0%;
}

.URL{
    color: #0000ff;
}
.URL:hover {
    background-color: #ccc;
  }