@charset "UTF-8";


.f-container  {
    display:flex;
    flex-direction: row; 
    flex-wrap:nowrap;
    height:580px;
    margin:0 0 1em;
  }

.mailList{
    width: 40%;
    height: 570px;
    background-color:#FFF;
    order: 1;
}
.mailname{
    margin:0%;
}
.mailTitle{
    margin:0%;
}
.mailbun{
    margin:0%;
}

.mailArea{
    width: 60%;
    height: 99%;
    order: 2;
    float: none;
}

.mailArea input{
    float: right;
    position: absolute;
    right:5px;
    top:8px;
    z-index: 100;
    display:none;
}

li:hover {
    background-color: #ccc;
  }

.popup{
    display: none;
    background-color: white;
}


body {
    background-image: url("../images/草原.bmp");
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    overflow-y: scroll;
    overflow-x: hidden;
    height:96%;
    margin:0%;
    padding:10px;
}

li {
	list-style-type:none;
}