@charset "UTF-8";


.f-container  {
    display:flex;
    flex-direction: row; 
    flex-wrap:nowrap;
    height:100%;
    margin:0 0 1em;
  }

.mailList{
    width: 40%;
    height: 100%;
    background-color:#FFF;
    order: 1;
}
.mailname{
    margin:0%;
    width:100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}
.mailTitle{
    margin:0%;
    width:100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}
.mailbun{
    margin:0%;
    width:100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}

.mailArea{
    width: 60%;
    height: 99%;
    order: 2;
    float: none;
}

.mailArea input{
    float: right;
    position: absolute;
    right:5px;
    top:8px;
    z-index: 100;
    display:none;
}

.mailArea iframe{
    width: 100%;
    height:100%;
    overflow-x: hidden;
    overflow-y: scroll;

     /* IE, Edge  */
     -ms-overflow-style: none;
     /* Firefox  */
     scrollbar-width: none;
}

.mailArea iframe:-webkit-scrollbar {
    display:none;
  }

li:hover {
    background-color: #ccc;
  }

.popup{
    display: none;
    background-color: white;
}

html{
    height:100vh;
    width:100vw;
    margin:0%;
}


body {
    height:100vh;
    width:100vw;
    margin:0%;

    background-image: url("../images/草原.bmp");
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    overflow-y: scroll;
    overflow-x: hidden;
    height:96%;
    margin:0%;
    padding:10px;

     /* IE, Edge  */
     -ms-overflow-style: none;
     /* Firefox  */
     scrollbar-width: none;
}

ul::-webkit-scrollbar {
    display:none;
  }

li {
	list-style-type:none;
}