@charset "utf-8";

body{
    background-color: #555555;
    color: white;
}

.text{
    float: left;
    padding: 50px;
}

.title{
    color: #dddd33;
}

strong{
    color: #dd7777;
}

ul{
    color: #22dd22;
}