@charset "utf-8";

body{
    background-color: #555555;
    color: white;
}
p{
    text-align: center;
}
table{
    text-align: center;
}
.title{
    font-size: 50px;
}
.input{
    margin-right: none;
    padding-right: none;
}
td{
    padding: 30px;
}

table{
    font-size: 10px
}