@charset "utf-8";

body{
    background-color: #555555;
    color: white;
}
p{
    text-align: center;
}
table{
    text-align: center;
}
.title{
    font-size: 15vh;
}
.input{
    margin-right: none;
    padding-right: none;
}
td{
    padding: 8vh;
}

table{
    font-size: 3vh;
}